@import "tailwindcss";

@layer utilities {
  .pointer {
    @apply cursor-pointer;
  }
  .multiDayArrowLeft {
    @apply ltr:after:content-[''] ltr:after:absolute ltr:after:top-0 ltr:after:right-[-12px] ltr:after:w-0 ltr:after:h-0
          ltr:after:border-t-[18px] ltr:after:border-t-transparent
          ltr:after:border-b-[18px] ltr:after:border-b-transparent
          ltr:after:border-l-[12px] ltr:after:border-l-[var(--event-color)];
  }
  .multiDayArrowRight {
    @apply rtl:before:content-[''] rtl:before:absolute rtl:before:top-0 rtl:before:left-[-12px] rtl:before:w-0 rtl:before:h-0
          rtl:before:border-t-[18px] rtl:before:border-t-transparent
          rtl:before:border-b-[18px] rtl:before:border-b-transparent
          rtl:before:border-r-[12px] rtl:before:border-r-[var(--event-color)];
  }
}

table,
td {
  border: 1px solid #8787873a;
  border-collapse: collapse;
}

td {
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 32px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
